<div class="col-md-12 box-green txtpadd" style="margin-top:-20px;">
  <div class="col-md-6">
    <h1>Contact us</h1>
    <p>conatct form</p>
  </div>
  <div class="col-md-6">
    <ul class="breadcrumb pull-right">
      <li class="active">c4s / contacts</li>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <div class="container" style="padding:5%">
    <%= render "contacts/form" %>
  </div>
</div>
