<div class="col-md-12 box-green txtpadd whitetext" style="margin-top:-20px;">
  <div class="container">
    <div class="col-md-6">
      <h3>CONTACT US</h3>
      <p>CONTACT FORM</p>
    </div>
    <div class="col-md-6">
      <ul class="breadcrumb pull-right">
        <li class="active">c4s / contacts</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="container" style="padding:5%">
    <div class="col-md-7" style="margin-bottom:5%;padding:0px 4% 0px 0px">
      <% if notice %>
            <div data-alert class="alert alert-success">
            <a href="#" class="close">&times;</a>
            <%= content_tag :div, notice %>
          </div>
        <% end %>
      <%= render "contacts/form" %>
    </div>
    <div class="col-md-5 bluebg api_division">
      <h3>Contact info</h3>
      <br/>
      <div class="col-md-12" style="background:white">
          <iframe width:100% frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?ie=UTF8&amp;ll=11.665686,76.250696&amp;spn=0.012819,0.019741&amp;t=m&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?ie=UTF8&amp;ll=11.665686,76.250696&amp;spn=0.012819,0.019741&amp;t=m&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      </div>
      <div class="col-md-12">
        <h4> Centre for social computing & <br/>Information Society </h4>
        <h5> Cyber park,Sulthan Bathery,</h5><h5>Wayanad - 673592 </h5>
      </div>
    </div>
  </div>
</div>
