<div class="col-md-12 box-green txtpadd" style="margin-top:-20px;">
  <div class="col-md-6">
    <h1>Expertise</h1>
    <p>What want to know from us</p>
  </div>
  <div class="col-md-6">
    <ul class="breadcrumb pull-right">
      <li class="active">Expertise</li>
    </ul>
  </div>
</div>
<div class="col-md-12">
  <div class="container" style="padding:5%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= image_tag("talk.png", class:'logowidth' ) %>
    </div>
    <div class="col-md-2">
    </div>
    <div class="container">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <%= render "expertises/form" %>
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>
</div>
