
<div class="col-md-12">
  <div class="container">
    <div class="col-md-8" style="margin-bottom:15px;">
      <%= image_tag("keyfine2.png", onmouseover: "this.src='#{asset_path('keyfine1.png')}'", :class => "thnkman", onmouseout: "this.src='#{asset_path('keyfine2.png')}'")%>
    </div>
    <div class="col-md-4">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active" style="background:#34495E;padding:1%;color:white;">
            <blockquote>
              <%= image_tag("logotrial.png",:class => "logowidth") %>

              <p>The center for social computing and information society is an ICT organization</p>
            </blockquote>
          </div>
          <div class="item box-green">
            <blockquote>
              <p>we design and develop autonomic open source ICT solutions across the social sector to bridge the gap between digital haves and have nots the social sector to bridge the gap between digital haves and have nots in under connected information republics</p>
            </blockquote>
          </div>
          <div class="item box-green">
            <blockquote>
              <p>Hackdom is an ICT service modeling and project formulation lab working in C4S. Everybody can come here and talk to our developers and practitioners for a new solution in any area of ICT.Hackdom has A(ndroid) to Z(ystem) resources and developing solutions</p>
            </blockquote>
          </div>
        </div>
        <div class="carousel-controls">
          <a class="carousel-control left" href="#myCarousel" data-slide="prev"> < </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next"> > </a>
        </div>
      </div><!-- End Carousel -->
    </div>
  </div>
</div>
<div class="col-md-12" style="margin:5% 0px 5% 0px;background:#34495E">
  <div class="container">
    <div class="col-md-3 txtpadd txtcntr">
      sd
    </div>
    <div class="col-md-3 txtpadd txtcntr">
      sdf
    </div>
    <div class="col-md-3 txtpadd txtcntr">
      sdf
    </div>
    <div class="col-md-3 txtpadd txtcntr">
      sdf
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="container">
    <div class="col-md-4 txtcntr txtpadd">
      <h4>L system of e-ducation</h4>
      <h6>The 'biggest' LMS in India with 4 lakh users</h6>
      <p class="txtpadd txtjustfy">'L' is an intellectually conceived, pedagogically designed, dynamically coded and massively used learning management system with web 2 features for all kind of academic and training institutions. The prestigious public entrance coaching scheme -www.peecs.kerala.gov.in -of Kerala government has adapted the ‘L’ software system developed by C4S for their e-learning portal to deliver personalized entrance coaching content to all higher secondary school students of Kerala. Beyond the 'usual apps’ of an LMS ,the ‘L’ system has unique capabilities on which the gamification of learning environment is deeply customizable in a content-wise manner and other tutor-admin environments are appy than any other systems in the LMS world.The ‘L’ system has android,web and wireless community forms on which resource hungry apps are waiting for communities to come on line in their own line.</p>
    </div>

    <div class="col-md-4 txtcntr txtpadd">
      <h4>Wayanad Wide Wifi</h4>
      <h6>The first rural wireless community in India</h6>
      <p class="txtpadd txtjustfy">You are knowing now about a revolutionary rural connectivity on open radio implemented in Wayanad , a remote district of Kerala, southern state of India.The growing wayanad wide wi fi has connected many remote villages to 80 km away hospital, university and other knowledge institutions with 100 Mbps speed.The low cost - high speed wireless network has covered 2131 km2 area of Wayanad region on which doctors,educators, agri scientists, trainers and other experts are doing their job for 36 villages and different communities in the villages are interacting with the expert community. The C4S has designed and deployed wayanad wide wireless network in cooperation with governmental and non-governmental agencies.We are building a rural ,free ,autonomic wireless community network of farmers, women, students, activists, academicians, development practitioners, subject matter experts, tribal people, educators and you!Join us to connect you ,your content and your community.</p>
    </div>
    <div class="col-md-4 txtcntr txtpadd">
      <h4>hacKdom</h4>
      <h6>Problem meets Solution</h6>
      <p class="txtpadd txtjustfy">Hackdom is an ICT service modeling and project formulation lab working in C4S Cyber Reserve campus in which people practicing theories and theorising practices.Everybody can come here and talk to our developers and practitioners for a new solution in any area of ICT.Hackdom has A(ndroid) to Z(ystem) resources and developing solutions for many e-governance projects to democratize ICT and conducting ‘digital dissidence workshop’ for journalists and activists to fight for the techno-political issues like ‘net neutrality’rak.</p>
    </div>
  </div>
</div>

