<div class="col-md-12 box-blue txtpadd whitetext" style="margin-top:-20px;">
  <div class="container">
    <div class="col-md-6">
      <h1>WE CAN DO A LOT OF THINGS</h1>
      <p>JUST TAKE A LOOK & CONTACT US</p>
    </div>
    <div class="col-md-6">
      <ul class="breadcrumb pull-right">
        <li class="active">services</li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="container" style="padding:5%">
    <div class="row centered">
    <div class="col-md-4">
      <i class="fa fa-desktop"></i>
      <h4>WEB DEVELOPMENT</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4">
      <h4>SEO SERVICES</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4">
      <h4>SOCIAL MEDIA</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>


    <div class="row centered">
    <div class="col-md-4">
      <i class="fa fa-desktop"></i>
      <h4>e-COMMERCE</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4">
      <h4>CLOUD SERVICES</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4">
      <h4>LMS DEVELOPMENT</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>

    <div class="row centered">
    <div class="col-md-4">
      <i class="fa fa-desktop"></i>
      <h4>VIDEO CONFERENCING</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>

    <div class="col-md-4">
      <h4>WIDE WIFI</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>


    <div class="col-md-4">
      <h4>WIRELESS INTERNET</h4>
      <p>Centre for Social Computing &amp; Information Society, a Wayanad based ICT organization was
      registered under the ‘Societies Regi and commercial viability using ICT as means.</p>
    </div>
  </div>


  </div>
</div>
