 <div class="col-md-3 col-sm-6 paddfooter">
          <h4>About us</h4>
          <p>Centre for Social Computing & Information Society, a Wayanad based ICT organization was registered under the ‘Societies Registration Act XXII of 1860’. As a Government accredited ICT organization in Kerala, Centre for Social Computing & Information Society (Hereinafter called ‘C4S’) have conceptualized, designed, developed and delivered number of social software applications and platforms for agriculture, health, education and community empowerment projects of various government agencies including NIC, Kerala State Planning Board, Kerala State IT Mission ,Local self-governance department, General Education Department. </p>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 paddfooter">
          <h4>Address </h4>
          <p> demo content</p>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 paddfooter">
          <h4>Address </h4>
          <p> demo content</p>
      </div><!--/.col-md-3-->
      <div class="col-md-3 col-sm-6 paddfooter">
          <h4>Address </h4>
          <p>Cyber Reserve IT Park <br/>
Vinayaka Hospital Road<br/>
Sulthan Bathery,Wayanad<br/>
04936 220356<br/></p>
      </div><!--/.col-md-3-->
