<div class="col-md-12 bluebg boxtopshadow" style="color:white;margin-top:5%">
  <div class="container page-footer">
    <div class="row">
     <%= render 'layouts/homefooter/footer_menu' %>
    </div>
  </div>

  <div class="col-md-12 darkbg">
    <div class="container">
      <%= render 'layouts/homefooter/footer_bottom' %>
    </div>
  </div>
</div>
